body {
  background-color: rgba(225, 236, 238, .4) !important;
  /* background-color: rgb(225, 236, 238) !important; */
}
.container {
  width: 100% !important;
  height: 85.54vh;
  margin-top: 40px;
  background-color: white !important;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(119, 118, 118, 0.5) !important;
}
